@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

body{
   
}

.main-container{
 
}


.navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
   position:fixed;
   overflow:hidden;
   top:0;
   z-index:100;
   width:100vw;
  /* From https://css.glass */
/* From https://css.glass */
background: #000;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(30, 75, 202, 1);
}

.name-logo{
    display:flex;
    margin-left:8vw;
    color:#fff;
}

#logo{
    border: 2px solid #fff;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 4px;
    
}

.name{
    font-size: 25px;
    
}

.search{
    color:#fff;
}

.nav-links a{
    position:relative;
    text-decoration: none;
    padding:15px;
    color:#fff;
    font-weight: 500;

}

.nav-links a::after {
    content: '';
    position:absolute;
    left:0;
    bottom: 2px;
    width:100%;
    height:2px;
    background: #fff;
    border-radius:5px;
    transform:translateY(10px);
    opacity:0;
    transition: .5s;

}

.nav-links a:hover::after{
    transform: translateY(0);
    opacity: 1;
    
}

a:active::after{
    transform: translateY(0);
    opacity: 1;
    
}

.main{
    scroll-behavior: smooth;
    font-size: 20px;
   
}

.ratings, .view-reviews, .hospitals, .main-content{
    height: 100vh;
    
}

.main-content{
    padding-top: 12vh;
    background: rgb(221,225,244);
    background: rgb(156,169,233);
background-image: url(images/anatomical-gefbb90c5d_1280.jpg); 
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    color:#fff;
  
}

.content{
    border: 2px solid #fff;
    height:80vh;
    width:50vw;
    padding:5%;
    background: rgba(34, 36, 99, 0.9);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0.5, 1);
backdrop-filter: blur(9.7px);
-webkit-backdrop-filter: blur(9.7px);
border: 1px solid rgba(34, 36, 99, 0.3);
}

.report-gif{
    height:40vh;
    margin-top: -6vh;
    margin-left: 10vw;
}

.heading{
    width: 40vw;
    font-weight: 1000;
    font-size: 50px;
    margin-bottom:4vh;
}

 .heading-body{
    width: 40vw;;
    font-size:25px;
    height:auto;
   
}

.ratings{
    display:flex;
    justify-content: space-between;
    background-image: url(images/annie-spratt-Mk0Y-Ckw0vA-unsplash.jpg);  
    background-size: 100vw 100vh;
    color: #000;   

}



.hospital-chat{
    height: 50vh;
    width:30vw;
    animation: pulse 2s ease-in-out infinite;
    transform-style: preserve-3d;
    perspective: 1000px;
    z-index:0;
    margin-left:5vw;
    margin-top: 18vh;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }



.review-chat{
    width:50vw;
    margin-top: 10vh;
    border: 2px solid #fff;
    height:80vh;
    width:40vw;
    padding:5%;
    background: rgba(18, 162, 178, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
backdrop-filter: blur(9.7px);
-webkit-backdrop-filter: blur(9.7px);
border: 1px solid rgba(34, 36, 99, 0.3);
margin-right:5vw;
}

.review{
    margin-top: 6vh;
    font-size: 45px;
    margin-bottom:5vh;
}

.how-to-review{
    font-size:25px;
}

.view-reviews{
    display:flex;
    justify-content: space-between;

}

.doc{
    width:30vw;
    height:60vh;
    margin-top:10vh;
    border-bottom:1px solid rgba(34, 36, 99, 0.3);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    
}



.doctor{
    width:30vw;
    height:60vh;
    transition: transform 0.3s ease-in-out;
}

.doctor:hover {
    transform: scale(1.1);
  }

.texts{
    margin-top: 5vh;
    width:50vw;
    height:70vh;
    border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
backdrop-filter: blur(9.7px);
-webkit-backdrop-filter: blur(9.7px);
border: 1px solid rgba(34, 36, 99, 0.3);
padding: 5%;
}

.find-review{
    margin-top: 6vh;
    font-size: 45px;
    margin-bottom:5vh;
}

.to-find-review{
    font-size:25px;
}