@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Familjen Grotesk', sans-serif;
}




.navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
   position:fixed;
   overflow:hidden;
   top:0;
   width:100vw;
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(30, 75, 202, 0.63);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(30, 75, 202, 1);
}

.name-logo{
    display:flex;
    margin-left:8vw;
    
}

.logo{
    border: 2px solid #000;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 4px;
}

.name{
    font-size: 25px;
    
}

.nav-links a{
    position:relative;
    text-decoration: none;
    padding:15px;
    color:#000;
    font-weight: 500;

}

.nav-links a::after {
    content: '';
    position:absolute;
    left:0;
    bottom: 2px;
    width:100%;
    height:2px;
    background: #000;
    border-radius:5px;
    transform:translateY(10px);
    opacity:0;
    transition: .5s;

}

.nav-links a:hover::after{
    transform: translateY(0);
    opacity: 1;
    
}

a:active::after{
    transform: translateY(0);
    opacity: 1;
    
}

.main{
    scroll-behavior: smooth;
    font-size: 20px;
    margin-top: 10vh;
}

.ratings, .view-reviews, .hospitals, .main-content{
    height: 100vh;
    
}


